<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EstudianteServlet</servlet-name>
        <servlet-class>com.midas.controller.EstudianteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>com.midas.controller.MenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EstudianteServlet</servlet-name>
        <url-pattern>/EstudianteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>EstudianteFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.midas.dao.EstudianteFacadeLocal</local>
    </ejb-local-ref>
    <resource-ref>
        <res-ref-name>jdbc/estudiantes</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
